parameters:
    level: 0
    paths:
        - app
        - config
        - database
        - routes
    ignoreErrors:
        - '#Access to constant ATTR_SSL_CA on an unknown class Pdo\\Mysql#'
        - '#Undefined variable: \$this#'
